<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
  class="dark"
>
  <head>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{end}}
  </head>
  <body class="flex min-h-screen w-full flex-col">
    <header class="z-10 flex flex-none justify-center">
      {{ partial "header.html" . }}
    </header>
    <main class="flex flex-auto justify-center">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="flex flex-auto justify-center">
      {{ partial "footer.html" . }}
    </footer>
    {{ partialCached "js.html" . }}
    {{ block "loadjs" . }}{{ end }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
