{{ define "main" }}
  {{ $PageContext := . }}
  {{ $pages := $PageContext.RegularPages }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
    {{ with .Site.Params.contentTypeName }}
      {{ $contentTypeName := . }}
      {{ $pages = where $PageContext.RegularPages "Type" $contentTypeName }}
    {{ end }}
  {{ end }}


  <div class="flex flex-auto justify-center">
    <!-- TODO: 画面を小さくしていくとmdサイズより小さくなるとジャンプする -->
    <section class="flex w-full flex-col md:w-3/5">
      {{ range $pages }}
        {{ .Render "li" }}
      {{ end }}
    </section>
  </div>
{{ end }}
