{{ if (or .Params.categories .Params.tags) }}
  <ul class="flex flex-row flex-wrap text-slate-300">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
      <li>
        <a href="{{ (urlize (printf "categories/%s" . )) | relLangURL }}/"
          class="text-sm mr-2 px-2 py-1 rounded border border-emerald-800 bg-emerald-800 text-slate-50">
          {{ . }}
        </a>
      </li>
      {{ end }}
    {{ end }}
    {{ if .Params.tags }}
      {{ range .Params.tags }}
      <li>
        <a href="{{ (urlize (printf "tags/%s" . )) | relLangURL }}/"
          class="flex flex-row text-sm mr-2 py-1 hover:font-bold">
          <i class="fa fa-tags"></i><span class="ml-1 text-link-blue hover:underline hover-underline-blue">{{ . }}</span>
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}