<div
  class="relative flex h-20 w-full items-center justify-between px-5 md:mt-3 md:w-3/5 md:px-0 lg:max-w-5xl"
>
  <div class="flex-none">
    <a href="{{ .Site.BaseURL }}">
      <h1 class="text-2xl">{{ .Site.Title }}</h1>
    </a>
  </div>

  <!-- Begin Menu -->
  <nav class="relative">
    {{ $currentPage := . }}
    <ul class="hidden space-x-4 md:flex">
      {{ range .Site.Menus.main }}
        {{ $url := printf "%s" (.URL | relURL) }}
        <li
          class="{{ if eq $url $currentPage.Page.RelPermalink }}active{{ end }}"
        >
          <a class="hover:underline" href="{{ .URL }}">{{ .Name | title }}</a>
        </li>
      {{ end }}
    </ul>

    <!-- Begin hamburger menu -->
    <button
      id="menuBtn"
      type="button"
      class="relative z-10 flex rounded-md border-none bg-slate-800 text-white md:hidden"
    >
      <i id="menuIcon" class="fa-solid fa-bars fa-2x"></i>
      <i id="menuIconX" class="fa-solid fa-xmark fa-2x hidden"></i>
    </button>

    <ul
      id="hamburgerMenu"
      class="fixed right-0 top-0 z-0 flex w-screen -translate-y-full transform flex-col justify-end space-y-3 bg-[#252525] pb-10 transition-transform duration-150 md:hidden"
    >
      {{ range .Site.Menus.main }}
        {{ $url := printf "%s" (.URL | relURL) }}
        <li
          class="{{ if eq $url $currentPage.Page.RelPermalink }}
            active
          {{ end }} flex w-full justify-center py-4 hover:bg-[#202020]"
        >
          <a class="hover:underline" href="{{ .URL }}">{{ .Name | title }}</a>
        </li>
      {{ end }}
    </ul>
    <!-- End hamburger menu -->
  </nav>
  <!-- End Menu -->
</div>
